/* CSS for child student db form to fill data. */
body{
    overflow: hidden;
}
.mainBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(102, 191, 226);
}
.formDiv{
    width: 30%;
    height: 90vh;
    padding: 1rem;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.473);
    border-radius: 1rem;
    background-color: white;
    overflow-y: auto;
}
.formDiv h2{
    text-align: center;
}
.form-label{
    font-weight: bold;
}
